{
  "log": {
    "_recordingName": "Page Methods/should handle empty images properly",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "54344cce3b0543bbc2440a3bd2298a9c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "William_Jackson_Creel"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=William_Jackson_Creel&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=William_Jackson_Creel&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 93,
      },
      {
        "_id": "2aa217a753974b003dd7b98ecc9df94b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "William_Jackson_Creel"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=William_Jackson_Creel&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 307,
            "text": "[\"1f8b0800000000000003a550c14ec3300cfd95c9074e5d9b76b0b591260edc38232181d01452af8d962625756130eddf71b649486813077249fcdef3cbb377f0aa48b7da77bd4542900009bc8d183e41eec0f9d0296bbeb006f9bc8375f01d2b1e8db54675ab7ba5378377abbb8068b98dfc0f3939919323b97f49a0570d0ed17526aac54214f11931c3e6272801c70ac156862c5e744b407b47e8a8f33597123eccc6106e098ebf58e59a916f66d0fdc25aeaace6b6735c6d02c396c2619851b7716e2844914f453915d54351c8bc9262fec402ab060af81ed3e7222fafcbbc2a4b86d135d4f244f3d94d02ebd1da31c4882d513fc82c4[...]
