{
  "log": {
    "_recordingName": "Live tests/should fetch main image #128",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "9bc890d7b6d9a6ebe4052a4c98700a24",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Microsoft"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Microsoft&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-11-14T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "13-Oct-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "82.78.189.22"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Microsoft&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 152,
      },
      {
        "_id": "9ee4bf2f6b5778e2b193ba17e3e8060e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Microsoft"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Microsoft&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "[\"1f8b08000000000000039550c14ec42014fc9777f0d46da1ea7621d9f805de3c7943fab690a580f455d76cfc771f9b688c31317201669861e69de1c9907536cd3920216880069e572c6fa0cf90cd844b3d482584fc44fc08fa02341099150d90a750b5f7de96b4a403b1894d9130d29c460c4cbdfaa3273c55a67a0413a795776630fec01ccdc1b2ec376ef485e14085714aab75c861a017526da4d848f92095ee9596bb477e10cc42055f6a5ed58b61b81e765b46314ee4b8c2addade7087c31ac25a6a46479417dd7518db1a37f36fa64d65eaeaadfb5e8e19fa4bd3f938e2a9cd2edf5de6b3ff32b832967c8afbea522765628ade9a7[...]
