{
  "log": {
    "_recordingName": "Page Methods/should get summary from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "33030f3371d3dc017e606cce8ccca642",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "pageids",
              "value": "53602"
            },
            {
              "name": "explaintext",
              "value": "1"
            },
            {
              "name": "exintro",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&pageids=53602&explaintext=1&exintro=1&prop=extracts&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&pageids=53602&explaintext=1&exintro=1&prop=extracts&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 102,
      },
      {
        "_id": "121cb1b13fa7a77e620a303fef25c7ea",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "pageids",
              "value": "53602"
            },
            {
              "name": "explaintext",
              "value": "1"
            },
            {
              "name": "exintro",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&pageids=53602&explaintext=1&exintro=1&prop=extracts&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2119,
            "text": "[\"1f8b0800000000000003\",\"6555d16edc3610fc15422f8d01f970b691a4f69bd3ba891d1b36ecb44101bfaca895441c45aa24e5cb35e8bf7796bcf3d9f03de944eeeeecceccea67d550d283f6e364397175565575f5cfcc61539dfdac26ea39cac3fb930fcbe3dd1bd35667f9455d399c2eeb2a996425f67a5eb17a586dd664571c90897fa4403abd3952262a529dd1c9784756e981e41e0ec8b52a0daca6e013f5de999894eff22b1f4c6fe47667eca85230d6f79bdde143a2a0be5388aa0be4f460222b1d9812b7aad9a8cfec43cfea7ad61417eace07e0da94a31b0a2bf58546636dad32ccce0454a569620ab863dc8becef8e4e3f[...]
