{
  "log": {
    "_recordingName": "Page Methods/should get summary from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "3e4932230a306a35014d2e4707e4a6c4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "explaintext",
              "value": ""
            },
            {
              "name": "exintro",
              "value": ""
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=extracts&explaintext=&exintro=&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=extracts&explaintext=&exintro=&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 108,
      },
      {
        "_id": "23abc21b16a755909f2f30161d8b34d5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "explaintext",
              "value": ""
            },
            {
              "name": "exintro",
              "value": ""
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=extracts&explaintext=&exintro=&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 752,
            "text": "[\"1f8b08000000000000037d545d4fd44014fd2b93be0849d92c184578830415c44840634c78b9dbde766f3a9da977a6ac1be37ff7cc74970f21eec3a69dfb75ee3967fabb5850ac9695ef07cb918be3a2288b9f23ebba38fe5d0cd472480f6f5ebf9d1f6c4fa42e8ef341593844e7651125da547b39766c6ebaf58a6cc78a4efc2b2a55f159c84830641aa9a27847d6544b4a790890ab4d5cb2e9499c19d4476abd93108d6ff2b95769259534627b1355ac6fd7dbe04d2435df498369945cb594c0a652a6c8b559accd07f6dab2b91c2b0a3373e515e0d653e83369673e522fd6968f6036a2184dc3c0a44804a42718f68f0e0f272009b67[...]
