{
  "log": {
    "_recordingName": "Live tests/should handle non existent pages properly",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "31e1df01a9a42b26edc47731636572a2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "asdasdlkalskdjalsdjalskdalsdjasdasd"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=asdasdlkalskdjalsdjalskdalsdjasdasd&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=asdasdlkalskdjalsdjalskdalsdjasdasd&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 195,
      },
      {
        "_id": "b61137baa46eed6e798342e5513f13ad",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "asdasdlkalskdjalsdjalskdalsdjasdasd"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=asdasdlkalskdjalsdjalskdalsdjasdasd&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 243,
            "text": "[\"1f8b0800000000000003ad50414ec4300cfc8b0f9c4a03d74a2bc43b10876ce26d431d2724ae58a8f6ef38ed0d21d10351e438e3f14ce215ce56dce452cc8482300074f0be60f98461054e255a0a5fe8617859e152525486ad5e37cd96eaecdf346e61f67bb615554492529f0f506faf1d643b626d8ef78f9bafe60f2a1184f0a04a0731d41a78dcbfe0120bb2c4e49114f9087310bc0aec5664795cf4d40af20f6c92484edb7eabf9501426298a5f16a2a534f14924d7c118e4bef964a5d93e95d1b49b39f678ed91bfd44c608fd73e4ff9699bcce980f49d7512129f9a7e1b8be5c4c1d97f7bf94dd737e8865b1b44020000\"]"
    [...]
