{
  "log": {
    "_recordingName": "Wiki Methods/Should be able to choose wikipedia language",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "8c427de259e1956aec3a12c686e8b060",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "France"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=France&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=France&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 126,
      },
      {
        "_id": "c0df3b33a4b80595a4067c6b8c8327d9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "France"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=France&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 259,
            "text": "[\"1f8b08000000000000039590c14ec4201086df650e9eba2d6cb7eb9664e3cd27f0e40de9b490a58074aa6b36bebbc31a3d1813231798efe7677ee6024f9a8c35714e1e09410154f0bc627e037581a4275cca418abefb026e0055ea0a026ba20272e48bf33eeb6090fd2606c240731cd0337f7527477826568adfeb30adbcb332e61fccd2ec0ddb7ed30697197b2a9ce26a2c7210d80ad96fc47e236e1fa45442aa5dfbc817bc5e28e3cb356bd71fda6d277aa61826b2a0da6e77d8cb0ac6d5fb35978c96282daa69c65c97b889bbe93ae6a92955f3fd33c6f497a17161c0739d6cbabb4ee6f8e9bed1865c0cc7f24499910e3138a3ffd3f[...]
