{
  "log": {
    "_recordingName": "Wiki Methods/Should be able to choose wikipedia language",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "0ec18eae45cb78c21edee446b8324460",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "France"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=France&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=France&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 85,
      },
      {
        "_id": "9b50a7928538d2b4ed5561764bfbe9e6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "France"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=France&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 258,
            "text": "[\"1f8b08000000000000039590c14ec4201086df650e9eba2d7483764936de7c024fde904e0b9102d2a9aed9f8ee0e6bf4604c8c5c60be9f9ff999333c1ab2cea6250724040dd0c0f386e50df419b29971ad07290eea0bf81174ad1b88ac8906c853a8cebb62a245f6db1409232d69c4c0fcd53f79c213b152fdc1c479e39d95a9fc608e9660d9f69b36fac23850e59436eb9083402f7ab913c34eaa7b39e85e687578e00bc1ac54f0e5927550aa17fb1bc914e34c0ef4feba57f2d0c0b485b0959ad111e55577dd54da1a377337d3a63277b5eabe7fc698fe32743e8e786ab3cbb797c91c3fdd57c6924ff1589fa8333231456fcd7ffabff[...]
