{
  "log": {
    "_recordingName": "Live tests/should handle Issue #64",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "d6713297ee35ac5890671fd360b6b6be",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "3165"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=3165&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=3165&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 213,
      },
      {
        "_id": "f84b6ff05680f4a153f8c49d9e949597",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "3165"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=3165&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 271,
            "text": "[\"1f8b08000000000000039d50c14ac43010fd159983a76edbb4ae2d814544d82ff0e445623a3661d3494da7bab2f8ef4e040f2b82602ec9bc97f7e6cd9ce0c9b075364e734046d00005bcac98de419f6036232ef9d1aaebed37e007d0b92e8084ab0b60cf212b6feff6177b1f13127b32e26323b114531c3008ffe60f9ef1c8c2649f60685ce51606e907e6780a5664bf71834f02074e82735cad4309044ddda84ddd6fd4f65eb55a357adb3cc88760164ef89a33abbaedbbb6ebaf2479401ad981ee1ad5f6053caf21ac296774ccf3a2ab0aa9cc7167e966ca98c62a57954cf87836a1d0fc97b0f234e0b19cdd7cf3b5a9ddb9cba5b1ec2[...]
