{
  "log": {
    "_recordingName": "Live tests/should handle Issue #64",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "47fcdcb056407543a9d9bf7aaee82e48",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "3165"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=3165&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=3165&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 122,
      },
      {
        "_id": "f464f7cdc18dc200e9e2bc4538ceff3c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "3165"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=3165&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "[\"1f8b08000000000000039d50c14ac43010fd159983a7da26aedddd06161161bfc0931789e9d804d3494da7bab2f8ef4e040f2b82600824efbdcccb9b39c2a365e75d1aa7888c60002a785930bf8339c264079ccb65a5d7ed37117a30055740a2a90a38702c9537b7fbb37d4819890359f1718958c0987a8ca2bf85e7c07860518a4fb4342c728a82f483f33c462765bf697dc84247cec2735a9c470904974a77176a2dfb4e2ba3b5d1ab7b7910edcc195f4be64ea9abedb66b37c2220decc16c74db097c5a625c7289e899a7d9340d525dd24ef299ad531e9a821a69f0e1a44191f9afc226508f877af2d3f5d7a076a72ee7d67148b42b5[...]
