{
  "log": {
    "_recordingName": "Live tests/Chain images are not working #164",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "c5056bfca31742194816974eaa74a912",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "mostviewed"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=mostviewed&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2022-02-15T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "14-Jan-2022"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=mostviewed&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 93,
      },
      {
        "_id": "28442832923ff522eff870869cdbed62",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "mostviewed"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=mostviewed&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 592,
            "text": "{\"batchcomplete\":\"\",\"continue\":{\"pvimoffset\":10,\"continue\":\"-||\"},\"query\":{\"mostviewed\":[{\"ns\":0,\"title\":\"Main Page\",\"count\":5375618},{\"ns\":-1,\"title\":\"Special:Search\",\"count\":1439986},{\"ns\":0,\"title\":\"Ronnie Spector\",\"count\":465603},{\"ns\":0,\"title\":\"Eternals (film)\",\"count\":428206},{\"ns\":0,\"title\":\"Lisa Bonet\",\"count\":249174},{\"ns\":0,\"title\":\"Prince Andrew, Duke of York\",\"count\":248125},{\"ns\":0,\"title\":\"Jason Momoa\",\"count\":237844},{\"ns\":0,\"title\":\"Bob Saget\",\"count\":209511},{\"ns\":0,\"title\":\"Phil Spector\",\"count\":178689},{\"ns\":0,\"title\":\"Black Knigh[...]
