{
  "log": {
    "_recordingName": "Wiki Methods/Search handle a foreign redirect",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "4442950889720a787824472a2c1793eb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Boletus edulis"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://ru.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Boletus%20edulis&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://ru.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Boletus%20edulis&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 115,
      },
      {
        "_id": "1e0ea6f147f66d7cc65412b40b700fa2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Boletus edulis"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://ru.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Boletus%20edulis&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 346,
            "text": "[\"1f8b0800000000000003b551db6ac3300cfd9521e89ed2c64e9ace319441e927ec6917469ab889996b678ebc7594fefb64f76d0c061bf3c3917c24eb48f209760db643eb0ea351a8400264f01a94ff007902af3aed558b13c88713ecbd3b50c2c6516698ae54178c9e281d1db18f812d398f58560977119709cbfa2a9932512cf9222187f3530663d3ab29ea1575295811bd48e90ee485c9c0529c919446a3fea09641eb2c2a8b07d7294385def58b467544b874611adb07b214f1e10b37e0c1b4f4ecbb18ad8968833ead23b483a2dea160059f3331e7c51d5fca4ac8e5ea9e124c33a1576f713cce2b2e2a2156c42adbe300b2aa4a769[...]
