{
  "log": {
    "_recordingName": "Wiki Methods/Search handle a foreign redirect",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "a882233320235057afff713ee70b8e33",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Boletus edulis"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://ru.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Boletus%20edulis&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://ru.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Boletus%20edulis&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 115,
      },
      {
        "_id": "2a36c8e83e6272f4133a17125beacdfe",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Boletus edulis"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://ru.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Boletus%20edulis&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 345,
            "text": "[\"1f8b0800000000000003b551db6ac3300cfd9521c89ed2c6b97571a00c423f614fbb30d2c44dcc1c3b73e4ada3f4df27bb6f6330d8981f8ee4235947924fb06fb11b3b33cd4aa0801a20865727ec07d427b0a2975674b840fd708283351325348632dd72257aa7e442e968887d74ac48538f791970efb10898f3ab60f240b1e0570153383fc530b78358bc5ec6f38a65def394eca1be3031688a339292a8c41fd462e88c46a17132bd5054e85dbe481447844b17aad583234b11ebbe70234eaaa367dfc5684d442bb4611dae1b05f50e194bf98a6d56acbc4b37755ed505bba704d52e68c59b1f8f57d90d2f784ea4d0038e509745b9a96[...]
