{
  "log": {
    "_recordingName": "Live tests/should return first foreign image as main",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "93e856904e0f177e916f8af0dce2f6aa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Batman"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://de.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Batman&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 259,
            "text": "[\"1f8b08000000000000039590cf4e032110c6df650e9eb6fb87eeba2d4963d267f0e40d615c48594076b6d634bebb83460fc6c4c805e6f7f1311f73854745daea38278f8420012a785e31bf82bc4252132ee530ee86e10b3803b2d41504d6da0ac8912fcea3a25905f6eb180803cdd1a067fee24e8ef042ac14bf57615a7967c5e00f6669f69a6dbf69c665c69e32738aabb6c84140b4a2dbb4e366dbddb77bb9bd95edf0c017bc5a28e3b964159dd80f83e847a61826b220fb7e2738f8d3eafd9a4b444b9416d93406eb9236713355c73c35a56abe3fc698fe32342e18bcd4c9a6bb8fc11c3edd374a938be1509e2823522106a7d57ffabff17a07e5651393b0010000\"]"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            },
            {
              "domain": ".wikipedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "RO:MS:T__rgu_Mure__:46.54:24.57:v4"
            }
          ],
          "headers": [
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 475,
      },
      {
        "_id": "1c446ac0ada5d6f57b97c1d086fde7d0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop[...]
