{
  "log": {
    "_recordingName": "Live tests/should return first foreign image as main",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "ec6987b942a71442da155e116abd88b8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Batman"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://de.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Batman&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 259,
            "text": "[\"1f8b08000000000000039590c14ec4201086df650e9eba2deddaed966463b2cfe0c91bc258c852403a5dd76c7c77078d1e8c89910bccf7f3333f73854745daea38278f8420012a785e31bf82bc4252132ee530ecfbfe0b3803b2d41504d64405e4c817e751d1ac02fb750c8481e668d0337f7127477821568adfab30adbcb362f007b3347bcdb6df34e332634f9939c5555be420d08976dc88dd466cef3b21db418ae1812f78b550c673c9daeec7aedb8de32d530c135990fdb61763054fabf76b2e112d515a64d318ac4bdac4cd541df3d494aaf9fe1863facbd0b860f052279bee3e0673f874df284d2e864379a28c4885189c56ffe9ffc6eb1d3633f859b0010000\"]"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            },
            {
              "domain": ".wikipedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "RO:MM:Sighetu_Marma__iei:47.93:23.89:v4"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "backend-timing",
              "value": "D=41528 t=1559975864101306"
            },
            {
              "name": "x-analytics",
              "value": "ns=-1;special=Badtitle;https=1;nocookies=1"
            },
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388,
      },
      {
        "_id": "365cc3f826c6cbb6cf9f831de836579f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop"[...]
