{
  "log": {
    "_recordingName": "Page Methods/should get raw images from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "45e21315e0116299a5eba939496d06c8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "generator",
              "value": "images"
            },
            {
              "name": "gimlimit",
              "value": "max"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            },
            {
              "name": "iiprop",
              "value": "url"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 95,
      },
      {
        "_id": "0bc745bd618da837656a438dd9a6fbdf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "generator",
              "value": "images"
            },
            {
              "name": "gimlimit",
              "value": "max"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            },
            {
              "name": "iiprop",
              "value": "url"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 708,
            "text": "[\"1f8b0800000000000003c5946b6fda301486ff8a65a95a2b01ce0572419af66157aa4d9d54b5fb304d96494c7071eccc36a508f5bfcf0682ca1ad6365d553e44ce8978cffb3ee7242b3826269b66b2ac3835140e21ec40ce4a66341cae202b4941ed69e079b71df87b4ed5d295ab4d7505bbbebb0a7b8e3ad030c39dc227c6e9f0832285145dbf9f8669d8d3d785d52d99d64c149b2633211762735c7751b4929a19e93a403d258ae6f5232626120e7faee05c71fb706a4ca58708cd2b2e49de5bb0192b69ce484faa02b9bbcadd219ba99442a33eea13d46427a73a53ac324c8a7de1ed3f1b94d1c16c77c4f4542af32845c4444e6f7ad[...]
