{
  "log": {
    "_recordingName": "Page Methods/should get raw images from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "330fc744e149db8fea229da861b726b9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "generator",
              "value": "images"
            },
            {
              "name": "gimlimit",
              "value": "max"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            },
            {
              "name": "iiprop",
              "value": "url"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 120,
      },
      {
        "_id": "6db070e1ef2237cd6e8c226e757f848e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "generator",
              "value": "images"
            },
            {
              "name": "gimlimit",
              "value": "max"
            },
            {
              "name": "prop",
              "value": "imageinfo"
            },
            {
              "name": "iiprop",
              "value": "url"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 750,
            "text": "[\"1f8b0800000000000003c5965f6bdb3014c5bf8a3094b5905a8ee3bf81b187b1ae2d1b143aba8731846c2bb116d9f22479691afadd27c576d6b4096d9d95e421c83239f79cdfbd96b3b412acd23ce545c58822d6d8b20616a30555d21a2f2d5ae029d12bdf71ee07d6ef9a8885d9ae9adda5753a34dfa55e07034b51c58cc2196564fc854e732571420448584d6cf967aa950b2a252da74d9959c9e765b35cd511a4e2922a6e6a5832c78264dd2d5a4eb835feb1b46ac1f4cd5ca94a8e21ac2bc67166cfe98c1624a3d8e6620acd5565aea04e55f052c2000621fc67083d309411990a5a29cacb4de9f6b75bb4e1a37c3be464ce857a912[...]
