{
  "log": {
    "_recordingName": "Page Methods/should get partial links from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "2923bc9f3f2690deafa84354e8e3c633",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "links"
            },
            {
              "name": "plnamespace",
              "value": "0"
            },
            {
              "name": "pllimit",
              "value": "1"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=links&plnamespace=0&pllimit=1&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=links&plnamespace=0&pllimit=1&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 125,
      },
      {
        "_id": "e9bca20a12c9c31bdf2d868d9cbfddaa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "links"
            },
            {
              "name": "plnamespace",
              "value": "0"
            },
            {
              "name": "pllimit",
              "value": "1"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=links&plnamespace=0&pllimit=1&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 167,
            "text": "[\"1f8b08000000000000035d8c310bc2301484ff8abcc52596a8e8d0ad8b547013041109c13eca2321d5a4a194a4ffdda4208a37dd1d775f8047677a321ea10cf0d4df04bbed9e6f228fd5e1b87462cdb9b8a2b4ae288aec6bb41d3a214d232ea4b524e380fdc020469818bc3cda7146cb165d3633f6d35003e55c3048ff9233e8a9d7f97ef20a1767350e522bb409adc9a834b985ff65b51ac8b430dda7a4372903d9f6d0000000\"]"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
  [...]
