{
  "log": {
    "_recordingName": "Page Methods/should get backlinks from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "f5bd12460b24304a9540bbe082f3c838",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 126,
      },
      {
        "_id": "c6dda61f48390ec409014c7979077a80",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3365,
            "text": "[\"1f8b08000000000000038d585b739b3814fe2b1a5e369d495a904040de1c3bb73669b289a7deceee3e08908dc6805821e2d2cb7fdf839b348ba464f6a19dba733e49e7fa7d876f5ec6745ee6b26e2baeb977ec79875e2e1b2d9a1e7e7df3b2eaf997e77f273189836062e31d7dffeefd38f4fee9b91af610966f2bd16c3beff8cf6f5ecb365c14de314d52ffd06be03f83434f0b5d8dd025abb6c7f321936ad321d1a0b5c8b5900d1cf70c4c229afe04facfc045bfe5e823fc5523b2989a27d4779867996836e8602daaba665bf8f79b092a88fc9058b0cb4673d5b0f149ac42f72dcb39bad7cc7a6240491059e8f7b2e36d89e6ac6e335[...]
