{
  "log": {
    "_recordingName": "Page Methods/should get backlinks from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "b0a2d928e789d0c447d4abc59fc39bd1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 102,
      },
      {
        "_id": "71e6d838e7f2500c22abd5769e062d74",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3401,
            "text": "[\"1f8b0800000000000003\",\"8d58db6edb3810fd15422f9b02492b89ba507973ec5c9b34d9d8a8b7d8dd074aa22dc294a852545cf7f2ef3b7293a62299601f5ad4c539bccc9c9939d4372fa7baa80a59b78269e61d7bdea157c846f3a6875fdfbc5c3cfff2fcef98f83826238c77f4fdbbf7e3d0fbdc33b5db5368b111bcd974def1dfdfbc96ae192fbde38464fea1d7c07f06879ee65a0cd405159be3e92e976add21dea0152f34970d2cf74c247192fd24facfc459bf61e803fc55233c1bc349e23be079ce9b353a587151d77403ff7e336205090e628b76253bd656684aeb366742988cd43ed7152bf918467c622f7c3d1cff60cd1f[...]
