{
  "log": {
    "_recordingName": "Live tests/should handle Issue #74 -> make all infoboxes available",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "4926f0a73d59aee8fb79e81ca0fc805d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Cross_Game"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Cross_Game&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Cross_Game&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 125,
      },
      {
        "_id": "e59c524aa26066529318d5f60d21dc5f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Cross_Game"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Cross_Game&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 293,
            "text": "[\"1f8b08000000000000039550cd4ac430107e159983a7da66dbedfe04160f1e7c014f8a484c679b609ad474aaab65dfddc9aac8ca8258024dbebf7c99091e1569a343d73b24040990c1f388f10de4043ec44e39fb8e0dc8bb09b63174acb88a61181eae5587aca5f08d9c1d90fd7d06bd6a7148fe72b95a8a6a91b609b31cf30565e05921d86fc9e17144063a78424f5d68d031f76a9f2ce18ee033da29df8efc6706fd2fcc50e734db4e718d8d0c3b8a87daa336e959508ad9fa422c78ddcc849c577256ddb2c0a98122bea4caab755957428815a3e85b3220e7755dae33d88ece8d31553444fd208b027d9edaf67c99ca436c8b742a8e2[...]
