{
  "log": {
    "_recordingName": "Live tests/should handle Issue #74 -> make all infoboxes available",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "5265304dd8d367e1f7dfd9048d55a41b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Cross_Game"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Cross_Game&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Cross_Game&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 188,
      },
      {
        "_id": "7ee7e8fc5734e058506fd5666ad22a9e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Cross_Game"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Cross_Game&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 293,
            "text": "[\"1f8b080000000000000395504b4ec33010bd0a9a05abb4717e4d65a962c1820bb00221649c6962e1d8c1994021eadd1907102a42427863fbfdfc3c333c28d29df6fd6091102440024f1386579033381f7a65cd1b36206f67d807dfb3e232f871bcbf523db296fc1772b620c7bb0406d5e218fd79bdad45b189c788198ef9841270ac10ec3764f1342201ed1da1a3de3768997b318f86f040f0116d956b27de9941f703eba8b79a6dbf718d090c5b0a4bed4977f15b908b3c5b897a5588ebac90a290557ec302ab460af81c2b67a2a8b6555e5625c3e85aea40969baaaa13d84fd64e2176ec888651a629ba75ac3bf06b6aed439bc65b7a3[...]
