{
  "log": {
    "_recordingName": "Live tests/should handle fuzzy prefix searches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "8513bd624f6c8986a3121dabe5a36468",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "prefixsearch"
            },
            {
              "name": "pslimit",
              "value": "50"
            },
            {
              "name": "psprofile",
              "value": "fuzzy"
            },
            {
              "name": "pssearch",
              "value": "mic"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=prefixsearch&pslimit=50&psprofile=fuzzy&pssearch=mic&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=prefixsearch&pslimit=50&psprofile=fuzzy&pssearch=mic&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 107,
      },
      {
        "_id": "ad3367f9c43e5e9f83513800c74cc09b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "prefixsearch"
            },
            {
              "name": "pslimit",
              "value": "50"
            },
            {
              "name": "psprofile",
              "value": "fuzzy"
            },
            {
              "name": "pssearch",
              "value": "mic"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=prefixsearch&pslimit=50&psprofile=fuzzy&pssearch=mic&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 735,
            "text": "[\"1f8b08000000000000038d564d6f133110fd2bd69e402a95edf5678e14a840440d44b407e0e06cbc8995cd3aecae9b4669fe3bd3c0c1465d975ba2ccf3cc9b37f326c76261866a5df9edaeb1832d2645715154be1d5c1be0dbb1d8f5beae7b3b14138ee35f8a378f8fc5e9a2f8156c77380776b6760fbd355db52e26df8f45db1713800c6e689ee2a7ae82a7776665ddb298941833a24e17cf85ad8d6dd027536d7adf4610c2b4e625272320b73249b4525c3f1fda79e034c4b11a63928b4577ae5dfa7d9fbeaf71ae7edf2d938228669c3f0fd800dbd5ca7651349744c991e76d63da956d7cfc38c14467aab932aeb551bc204ce6e25f3[...]
