{
  "log": {
    "_recordingName": "Live tests/should handle fuzzy prefix searches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "34c9bec55669adaaf92f39124ce69b83",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "prefixsearch"
            },
            {
              "name": "pslimit",
              "value": "50"
            },
            {
              "name": "psprofile",
              "value": "fuzzy"
            },
            {
              "name": "pssearch",
              "value": "mic"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=prefixsearch&pslimit=50&psprofile=fuzzy&pssearch=mic&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=prefixsearch&pslimit=50&psprofile=fuzzy&pssearch=mic&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 94,
      },
      {
        "_id": "1c27a861738b19b99f97834483b681d1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "prefixsearch"
            },
            {
              "name": "pslimit",
              "value": "50"
            },
            {
              "name": "psprofile",
              "value": "fuzzy"
            },
            {
              "name": "pssearch",
              "value": "mic"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=prefixsearch&pslimit=50&psprofile=fuzzy&pssearch=mic&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1506,
            "text": "[\"1f8b080000000000000385564d73d33014fc2b1e9fda99c2e8fb23b796d2ce009d063a940370501cd9d1c496826c270d6dfe3b0ae52031b57a8b275abfb7fbf6adfc582ed450ad2ad76d5a3de87256966765e5ec60ec189e1ecb4defeabad74339a320fea77cf3f4541ececa5fa3f6fbbf07bdaecd43af95af56e5ecfb6369fb7216208319dae3f91b5385576f54a3cdb29c6100081487b3978e79176a0ec56d5d9b4a47180490c843be19bb74bb3ec24021247819b352ba2de62bdd6e1280048250807275d2e30066deff4155ebded91841a4a4984e814ca36cda3f95b9f73bbf4c0008104a5f06ac43374da37d749a72287856d2f70f9[...]
