{
  "log": {
    "_recordingName": "Page Methods/should get specific info by key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "0faa8101217416192e3dd333837b163f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "blcontinue",
              "value": "3|54744275"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&blcontinue=3%7C54744275&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&blcontinue=3%7C54744275&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 78,
      },
      {
        "_id": "ae4b87f8b24128200703f4cdb1e6303b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "blcontinue",
              "value": "3|54744275"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&blcontinue=3%7C54744275&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4543,
            "text": "[\"1f8b0800000000000003\",\"ad596b73d34816fd2b5dfeb26c15c8fd7e7dd9925f03030136316466b7f6836c776c1159ca4a32d930c37fdfa39084d0b69599aaa982c2297c6e3feebde79cdbf96db0c8dae566596daf8ad086811f0c9e0f9655d9e6e50e3ffd365814df7f1ab0df35e74c296e7ff8d6e0c5efbf0fbe3e1ffc7717ea9b5b50b6bc2cf2f2b219f87fff36b8cad6215f0dbc92464a6ed4f34189ff10cf076dde161dfc43136ad266c5a53fc9eae5ae0174591525a506511fe39da642dfe1e977fc795e1479b6252fab9b222b573f8214a39439dab328d7947929fd5851ea47532fc7b3d48f5c3ac60fcef874c6c65148aead[...]
