{
  "log": {
    "_recordingName": "Live tests/should fetch all pages in category",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "de08b15364b8f7d6b7ae0e6a5ed7853c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "cmtitle",
              "value": "Category:Characters"
            },
            {
              "name": "list",
              "value": "categorymembers"
            },
            {
              "name": "cmlimit",
              "value": "500"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://batman.wikia.com/api.php?format=json&action=query&redirects=&cmtitle=Category%3ACharacters&list=categorymembers&cmlimit=500&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 0
          },
            {
              "domain": ".wikia.com",
              "expires": "2019-06-08T07:08:13.000Z",
              "name": "wikia_session_id",
              "path": "/",
              "value": "XW46itUnl5"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "location",
              "value": "https://batman.fandom.com/api.php?format=json&action=query&redirects=&cmtitle=Category%3ACharacters&list=categorymembers&cmlimit=500&origin=%2A"
            },
            {
              "name": "x-redirected-by-wf",
              "value": "AnonsHTTPSUpgrade NotPrimary"
            },
            {
              "name": "x-datacenter",
              "value": "SJC"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 258,
      },
      {
        "_id": "eb3b6988ec0f938d3bd69848ddc8dce0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "cmtitle",
              "value": "Category:Characters"
            },
            {
              "name": "list",
              "value": "categorymembers"
            },
            {
              "name": "cmlimit",
              "value": "500"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://batman.fandom.com/api.php?format=json&action=query&redirects=&cmtitle=Category%3ACharacters&list=categorymembers&cmlimit=500&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1822,
            "text": "[\"1f8b08000000000000039d584d6fdb3810fd2b842f9b05da42a2be734bec38859334416c2468177b985a8c459822534a8aab16fdef3b8aedb4226925d85be0cc8c868f336fdef0e7e85bc3743b3afe395a42cd564ab7252bbf325d8d8efff9397a8415e3f9e8380ed2207c3792f8abf76e54f35ab0d1f1e864c9485d30722a2067e45e8987d1af77bf9d9224cd6c9f126d9b8a9ce8750165df3ef053dbfe8706267a76511247be65780af58a6b418e165d46509720ffeeb9f96918bbbcd0b01fde4f037ac0901c9d6a908c2ca0154af7e307b103a2df6e0d82b528540955df8d06d43ef5de6d06959264a1f2dc70a26972d069c14b32d1b[...]
