{
  "log": {
    "_recordingName": "Wiki Methods/Search should limit properly",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "ee920e82f93a560b9b2d187c83c8035a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "batman"
            },
            {
              "name": "srlimit",
              "value": "7"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=search&srsearch=batman&srlimit=7&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=search&srsearch=batman&srlimit=7&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 91,
      },
      {
        "_id": "a6467b5beea31b07776d3e629f93563a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "batman"
            },
            {
              "name": "srlimit",
              "value": "7"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=search&srsearch=batman&srlimit=7&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 925,
            "text": "[\"1f8b0800000000000003ad964d8fdb361086ff0ac15302d82ea94f8b4803c41ba4688af6d01512a04d0f94445b44255225a935b69bfdef1d4a5e5b46d6aebded4dd290339ce79d19ea0117dc9575a9dbae114e6086f10c975a39a97a787bc0d6e8f5da0a87593a35e0f9d7aff87186ffea85b91fd6096eca5aaab5f66f4e3bded4d259cc684a099d61db6f36c23aa9156c8698a8e50a4f3f5b25bbcec7d95bc1fde815b3df1fb0025f64869d748d8fbfe26ef4d0f18d9015665118c6b041fe0d561aa7c4bf6db5a94add2bf04a975104db0f51ded88e2b5436dcdaefbfec02b59ec517fc7674fee63bbfe42d92167164fb4e985a188db6b[...]
