{
  "log": {
    "_recordingName": "Wiki Methods/Search should limit properly",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "587fa9c0a4657187171011e2d94ac83a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "batman"
            },
            {
              "name": "srlimit",
              "value": "7"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=search&srsearch=batman&srlimit=7&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=search&srsearch=batman&srlimit=7&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 119,
      },
      {
        "_id": "ffdbe83c2c17c60dad5325fe8a73f4b1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "batman"
            },
            {
              "name": "srlimit",
              "value": "7"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=search&srsearch=batman&srlimit=7&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 941,
            "text": "[\"1f8b0800000000000003ad965d6fdb361486ff0aa19bb5809d92fa16d1158813acd886f5a23156604d2f8e25da2222891a49d9f0d2fcf71d4afe6c6b23ce06e84212a9730e9ff3f2a51ebd19d8bccc55dd56c20a8f7bdec8cb556365d3e1d3a367b49acf8db01e4f0e07bcf1d7afded3c8fbbb137addcf13a0f3523673e59eacb25095d21a8fb3388829ce1c2678fcf3a3d7e06b3af2acb4950b35015b4383795b580859783c0c82083f90ffe0280b832c0946de4ae922575d8385b08426298e37b26d5d61de5bd34243f20a8cf9f97e93a876cbbaf7de0dc1dfbe7153de11690810d3b54297422b021800b46c164436e4ba165ae62e90a[...]
