{
  "log": {
    "_recordingName": "Live tests/Chain images are not working #163",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "512f1c23aba0313a4ad9c81fb1503df7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Batman"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Batman&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2022-01-29T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "28-Dec-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "76.85.84.56"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Batman&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 50,
      },
      {
        "_id": "feec0daf09ae1c7d70f52612416ce933",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Batman"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Batman&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 434,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"pages\":{\"4335\":{\"pageid\":4335,\"ns\":0,\"title\":\"Batman\",\"contentmodel\":\"wikitext\",\"pagelanguage\":\"en\",\"pagelanguagehtmlcode\":\"en\",\"pagelanguagedir\":\"ltr\",\"touched\":\"2021-12-28T16:26:35Z\",\"lastrevid\":1062450334,\"length\":178054,\"fullurl\":\"https://en.wikipedia.org/wiki/Batman\",\"editurl\":\"https://en.wikipedia.org/w/index.php?title=Batman&action=edit\",\"canonicalurl\":\"https://en.wikipedia.org/wiki/Batman\"}}}}"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2022-01-29T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "28-Dec-2021"
            },
            {
              "domain": ".wikipedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,[...]
