{
  "log": {
    "_recordingName": "Wiki Methods/Should return page from coordinates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "29312baf53a535f584a316c90f3d5b73",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "geosearch"
            },
            {
              "name": "gsradius",
              "value": "1000"
            },
            {
              "name": "gscoord",
              "value": "32.329|-96.136"
            },
            {
              "name": "gslimit",
              "value": "10"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=geosearch&gsradius=1000&gscoord=32.329%7C-96.136&gslimit=10&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-05-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "14-Apr-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=geosearch&gsradius=1000&gscoord=32.329%7C-96.136&gslimit=10&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 82,
      },
      {
        "_id": "4dd9f121b62c70c7f28ff0179aed6263",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "geosearch"
            },
            {
              "name": "gsradius",
              "value": "1000"
            },
            {
              "name": "gscoord",
              "value": "32.329|-96.136"
            },
            {
              "name": "gslimit",
              "value": "10"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=geosearch&gsradius=1000&gscoord=32.329%7C-96.136&gslimit=10&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 157,
            "text": "[\"1f8b08000000000000034d8eb10e823014457f85dcb912a411e18d3af8036ec6e1092fd0a4146c4b2221fcbb30e91d4f724eee8217c7baab877eb412050428bc27f13368412b4310f675077a2c18b915d3808ebac84e67051740994234d1eee26d72c985bd179b5c4d9c5572970f872d673982749eeabcfcaddaf8e04087aa48b7a0fee38d09bb50a685c2e84dcffb19607daeeb175311a9caaf000000\"]"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-05-16T12:00:00.000Z",
              "httpOnly": true,
              "name": [...]
