{
  "log": {
    "_recordingName": "Wiki Methods/Should return page from coordinates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "56c37fb4bec7954ddb705b5fc389f98f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "geosearch"
            },
            {
              "name": "gsradius",
              "value": "1000"
            },
            {
              "name": "gscoord",
              "value": "32.329|-96.136"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=geosearch&gsradius=1000&gscoord=32.329%7C-96.136&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=geosearch&gsradius=1000&gscoord=32.329%7C-96.136&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 109,
      },
      {
        "_id": "b84aaec18ac187426a84778a2fe03af9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "geosearch"
            },
            {
              "name": "gsradius",
              "value": "1000"
            },
            {
              "name": "gscoord",
              "value": "32.329|-96.136"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=geosearch&gsradius=1000&gscoord=32.329%7C-96.136&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 158,
            "text": "[\"1f8b0800000000000003458e410e82301444af42665d09d288f097baf002ee8c8b2ffc409352b02d8984707761619ce5cbcccb2c7871acbb7ae8472b514080c27b123f8316b43204615f77a0c782915b310de8a88bec7456700194294413ed3ebc4d2eb9b0f76293ab89b34aeef2e1b0e92c4790ce539d97bf541b1d1ce85015e9a6d37fdc98b0b7cbb45018bde9797f02accf75fd025164aecdac000000\"]"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name"[...]
