{
  "log": {
    "_recordingName": "Live tests/should handle Issue #63",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "bcdda5583ee6a6d380b44c4591d45517",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "250197"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=250197&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=250197&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 113,
      },
      {
        "_id": "35ddeae513bf3cf544398242c92a980d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "250197"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=250197&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 286,
            "text": "[\"1f8b0800000000000003ad50c14ec3300cfd9529074edb9a55dd46234ddcf8024e5c2a2ff5da08d729990b4313ff8ec3d80521b8904be2f7ec97f77c367b10dffb388c8482c6193337cf13a637e3ce66840e8ff951aeedaade5ea1d01a7741e68695b7732341284fdf27608f3306099181668718650f4433411854da47166419628ba4edafe129089e44992c4cc0dda4b732c8dfb05e06f23af613d786a43049525ce2e47b5487a654870bbb59d8ed4359bacabab27ad40682a3247cc9216a6b6f2bbb2d35072177d21bb7b2f57aa3810e13d194b2c75e643cbaa2405e66bba3fe06cb98ba2257c52570730ddc5c03375f81b55bfed2290[...]
