{
  "log": {
    "_recordingName": "Live tests/should handle Issue #63",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "684fef5a77049db54acc11d11350fbed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "250197"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=250197&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=250197&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 172,
      },
      {
        "_id": "f490025b9d72d432caa43dc1641b5bde",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "250197"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=250197&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 289,
            "text": "[\"1f8b0800000000000003ad90c14ec3300c865f65ca8153b7365d3b4aa5891b4fc089cbe4a55e132d754aeac2d0c4bbe3307641082ee492e4fbed3ffe73567b60634d18468f8caa552a53cf33c637d59ed5083d4ee950d685bebbbd22d7a9f6423245a2179962c73e753f4420830b027681c02f0e21f01ebc5f30c220d6261023f1103af452feea8e8ef1c4a224630fd4cfb28b82f48d591ebc91b69fb4ce45c19ea3700eb3b12813aab228f5b26896ba7ed455abeb56974f52e061e2882f29842ed64d5d154db5118cd4b315a62bbd5967ea307b3fc734a4651ea736cf915669de519e8355887d9e6ef925f1ee9a78774dbcfb4a2cd5fc9[...]
