{
  "log": {
    "_recordingName": "Live tests/should handle error response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "19861264da63149ef88a3fe3dc9dfa88",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "1"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=random&rnnamespace=0&rnlimit=1&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=random&rnnamespace=0&rnlimit=1&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 359,
      },
      {
        "_id": "94bdbb230448fdf5e23aef8a14c7a00f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "1"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=random&rnnamespace=0&rnlimit=1&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 146,
            "text": "[\"1f8b080000000000000355cc4b0ec2201845e1bddc319abfe5d5b20e67eaa05212495a6a2b0c0cb0771f31310ebfc139199721daab5de6dbe4a2830118ec12a20fe9a58c2dfc04da8b4629125cf4aad7e54b49ad6ab42cad101d975da1bf0576a5a032acc96d8fcf7108e332c31c33fc08c35b52bd549a21dc618821fa38bdbb83f3a744e408f55ceb13df04753fa9000000\"]"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            },
            {
              "domain": ".wikipedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "RO:MS:T__rgu_Mure__:46.54:24.57:v4"
            }
          ],
          "headers": [
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 561,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
