{
  "log": {
    "_recordingName": "Live tests/should handle error response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "3777f00bb617f01753b89647fe47295f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "1"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=random&rnnamespace=0&rnlimit=1&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2020-06-17T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "16-May-2020"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "126.208.137.199"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=random&rnnamespace=0&rnlimit=1&origin=%2A"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 341,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
