{
  "log": {
    "_recordingName": "Page Methods/should get links from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "64838b91cf5c9d2e8854c47c03ff6399",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "links"
            },
            {
              "name": "plnamespace",
              "value": "0"
            },
            {
              "name": "pllimit",
              "value": "100"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=links&plnamespace=0&pllimit=100&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=links&plnamespace=0&pllimit=100&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 86,
      },
      {
        "_id": "44445fb0b7c31d1adaff02c942ca6edb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "links"
            },
            {
              "name": "plnamespace",
              "value": "0"
            },
            {
              "name": "pllimit",
              "value": "100"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=links&plnamespace=0&pllimit=100&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2033,
            "text": "[\"1f8b0800000000000003\",\"8d976d6fdb460cc7bf0aa137db8038709ab56bf32e7696264bb318b19ba218868196381dabd39d760fc9d4a4df7d941d37c576a7ccaf64fd7fbc0792479eee8bd29ac0265271745f74fae95ff1f2f0d5f4c5c3f4e1045d507f2c34d691d8177bdf58140f0fc597bde2af48aedfd8634d7e78d8d8eede70551c6d5eec1546d4e95e1138e8c1fc5d6c08964d7f87ba2127436b368d20bfddff9b3c9edcb1a965b2ff2aa7e7df7938984ee123a1f3fbfbfbc3f319394b1ed05470c35a238b55ca7835395e2505781bb92208168292350674f0418687f7866fc9794a1aad1d2a6cb904479a6bb69949056b3dcc[...]
