{
  "log": {
    "_recordingName": "Page Methods/should get links from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "8a3471bf3e5856610b2fe9f342510edf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "links"
            },
            {
              "name": "plnamespace",
              "value": "0"
            },
            {
              "name": "pllimit",
              "value": "100"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=links&plnamespace=0&pllimit=100&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=links&plnamespace=0&pllimit=100&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 114,
      },
      {
        "_id": "f7ee80262560d3b22a1e725b5e7953da",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "links"
            },
            {
              "name": "plnamespace",
              "value": "0"
            },
            {
              "name": "pllimit",
              "value": "100"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=links&plnamespace=0&pllimit=100&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 992,
            "text": "[\"1f8b08000000000000038d576d6fdb460cfe2b077d6987c581b760c3906f766c2f469a3668b204c5300cb4c4ea589dee34de29ae93f4bf8f52b0a5d87876fd49d6f350e2f1e521f55894c127f23d16a78f45e75efe153f9dfc3cfdf169fab40a5ce29fb50d3115475fd18ba7a7e2cb51f1578fbc1b8da1c6385c8c86ffdca1aa381d6f1c155ed0e9519128b9c1fc4ddfa0b96e765b700db23cda916f84f2fbe37f99b3c9967c2d2ffb3fb25abf8ae687e9d47c40e0787c7c3c5c9f23078c067c656ec93920b1d28c6f26b31b1530bff654a149c1242b3e266073278f37bf79ba478ea81a6d182cb4541a46473585cc4b85d646330fa1d1f[...]
