{
  "log": {
    "_recordingName": "Page Methods/should determine information from metadata",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "2ddd5a95cf7e4bf9ef83b59105a3effc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Elizabeth II"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Elizabeth%20II&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Elizabeth%20II&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 77,
      },
      {
        "_id": "3a386d0337d6afb9bfe29cded2c45d50",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Elizabeth II"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Elizabeth%20II&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 274,
            "text": "[\"1f8b08000000000000039550cb4ec33010fc15b4074e691e4e52b5962a4e1c7ae7c405b9ce125b38b6713650a8f877d6958a104242f862efccee78664f7050a48d0e5374480812a080e705d31bc8134435e29c1f8d68fa76dd7717d00e202f58019e7bea02c892cb0ab7cebeab0392b9daef594d074fe8690a033a665fed93253c123359c9293f2e7c3383fe076668729ac77ee3069b18769418a7b068836c09442d9a55bd5935fd5dd34b51cbaebbe706a7664af872765db79bf5b6135dcb30fa914c4e2244bf2de071716e49d9a4218ab3ac2af465f61bf93b55863456b9aabe023e9c0332497f8d55d60f782ca38937e735edbe6b5c2[...]
