{
  "log": {
    "_recordingName": "Page Methods/should get categories from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "6f8c06a81ea710ed6c69b1490ef172f8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "pageids",
              "value": "53602"
            },
            {
              "name": "pllimit",
              "value": "100"
            },
            {
              "name": "prop",
              "value": "categories"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&pageids=53602&pllimit=100&prop=categories&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&pageids=53602&pllimit=100&prop=categories&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 89,
      },
      {
        "_id": "f1b0a8f06cbabcc5ba93829d8e0584a4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "pageids",
              "value": "53602"
            },
            {
              "name": "pllimit",
              "value": "100"
            },
            {
              "name": "prop",
              "value": "categories"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&pageids=53602&pllimit=100&prop=categories&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 406,
            "text": "[\"1f8b0800000000000003ad924d6fdb300c40ff0aa1d35664459a7d1c7c0bd26218d05b50ec300c832233361189f22809699ae4bf8f76507887625e81fa6298e27b244d1dcdde0a1337c95447132c71ffbe3295796041171ba627aca1b3620366940a3aef2950be36e7f3ccb8c899b8600f393f7e99cf1fbfcc17a7bbc72c5629c19485acff954a87d2a2444ce66fda9c4e4675bf0bcaa17775b6c1a1a3c1f31ca1da54436066584fe7339329fb1ebf2f3b84f5eeb0b77e87d2abb56c13857acb8fe3907ef369cc5f5d8e0fd5b28e5d4604d7ea844e5b4d400c5bf2216943ff02bd87efb4a30e6bb2602593f398602f9433722f590614729[...]
