{
  "log": {
    "_recordingName": "Live tests/should handle Issue #54",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "f8b31b464bb98cfbd997a54f060b4c66",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Santa Coloma"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Santa%20Coloma&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Santa%20Coloma&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 138,
      },
      {
        "_id": "5dcba4883d3e02a79d2ce54e25b16085",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Santa Coloma"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Santa%20Coloma&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 278,
            "text": "[\"1f8b08000000000000039d50cb4ec33010fc956a0f9cd23c6c28c152c521527f004e5c2ae32c8985631b67034515ffceba080e151212bed83bb3339edd233c6a32a309537448080aa0809705d33ba823443de09c1fad94adb8fa866c0fea0b29c0335f1740965c56efbad59df6a4575d7061d26c668227f434851e1d37bcd9674b782066b295d37e58f86606fd1936d2e40ccb7ee37a9b18769418a7b098113913885a34ebba5d3797f78d5472a38478e006a7674af89a6337b5dc34f2baad39b3433fd0084ac8e6a62de069716e4939e34814675555e8cb1c37f26fba0c69a87255edbafd69c4fdcf88ccd35fcacafa1e0f651ce3ed695[...]
