{
  "log": {
    "_recordingName": "Live tests/should handle Issue #54",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "d655e2bd50e35e351e273493e19d1e29",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Santa Coloma"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Santa%20Coloma&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Santa%20Coloma&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 116,
      },
      {
        "_id": "a1df265873c922ca29b8c34cdc36b82a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Santa Coloma"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Santa%20Coloma&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 277,
            "text": "[\"1f8b08000000000000039d50414ec33010fc4ab5074e21719a12124b158748fd009cb854c6d926168e6d9c0d1455fc9d75111c2a24242c4bb66776c6b37b8227457ad47e0a1609410264f0b2607c077982a0069cd3a5a9aa667df30d991ee4179281635e6440866c52efbad5bd72a4569db77e526ca6bd237434f91e2d17bc9967437824669295556e58f86406dd0536d26435cb7ee37a1319b6141927bfe8113913ac45d95e8b9af743594bd1c872f3c80556cd14f135c56e85a844598a0da3e8061a41966d7ddb667058ac5d628a381285591605ba3ca50dfc99ca7d1c8af42a76ddfedce1fea743e6e92f65615c8fc73c8ce1ee3caae[...]
