{
  "log": {
    "_recordingName": "Live tests/should handle Issue #72",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "24e948fd8058729556b591ad1dd1685d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Java_Classloader"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Java_Classloader&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Java_Classloader&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 112,
      },
      {
        "_id": "6d30ebe41879b6993258fc242f57194f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Java_Classloader"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Java_Classloader&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 296,
            "text": "[\"1f8b08000000000000039d504d4fc3300cfd2bc8074ea59fb0a691260edc387302211452af8d489392ba6350edbfe3b01dd034098928529ce7e7e7672ff0aa48f7da0fa34542900009bccf183e412ee07c1894355fd8827c5a6013fcc08c7bb5552f77564d93f5aac5c015e48ff8c56f7cff9cc0a83a9ca2565d9795b869621831c392472801c78c9c550c593c279480f68ed0d1e05bb4ccf8306f86704770686095eb667e3983ee04eb69b09acbcee55a1318b6741861d67d1c14cabc68aef215df87a290b99045f5c804f64301b7d1b81062550b51568ca2eba807d934f575029bd9da3944873dd138c92c439746b323f752a90f5d167[...]
