{
  "log": {
    "_recordingName": "Page Methods/should get partial backlinks from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "fc94270e1f8c0e360ffcaa6fa112c879",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "blcontinue",
              "value": "5|11857040"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&blcontinue=5%7C11857040&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&blcontinue=5%7C11857040&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 92,
      },
      {
        "_id": "f70ee590c72842122803fa95e12d5c5f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "backlinks"
            },
            {
              "name": "bllimit",
              "value": "100"
            },
            {
              "name": "bltitle",
              "value": "Luke Skywalker"
            },
            {
              "name": "blcontinue",
              "value": "5|11857040"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=backlinks&bllimit=100&bltitle=Luke%20Skywalker&blcontinue=5%7C11857040&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4391,
            "text": "[\"1f8b0800000000000003\",\"a559d972db3816fd15941ea69caa84c44280a4df642b9eb13b4e32563aaed91e200a16d1220935405aad2cff3e17b22d3ba044b7d3555e2499e702b8cbb9e7c25f4733d9166561ea55a55a353a1e8d5e8f0ad3b4bae9e0ddd7d1ac7a7c37c2df8810344b30fee1a9d19b6fdf46df5f8f7eef94dd6c41b25856ba59bad1f17fbe8e5672a1f47c744c48c6539ce0d7a306fec05f8f5add561e7ead977aa5e65aa25656cbe3e9cae84ad9786c8b52df2ac4c1f6132b1413c1687a67853c5af9e4b1ef8dad6585fc06d6d2ce65ab4d13c2939c66f770f608ffd5297bb77e2a22782862241279884da9a0fc0e8b[...]
