{
  "log": {
    "_recordingName": "Page Methods/should parse coordinates located in infobox",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "d9e8bed677fbd65723791d814c6f66e8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Catanzaro"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Catanzaro&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Catanzaro&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 98,
      },
      {
        "_id": "d62bc7b0486c0340a1ca67a31f60a1dd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Catanzaro"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Catanzaro&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 264,
            "text": "[\"1f8b08000000000000039590c14ec4201086df650e9eba2d74addd926c3cf80a9ebc211d0b590a48a7babaf1dd1d366a8c31317201be7fe6e7674e70afc95813e7e491101440058f2be6175027487ac2a51ca41457bd6c3f991b417da00a0257880ac8912ffd379a7478d539b291898130d01c47f42c3dbb83233c122bc5c5eb30adbcb382e107b3347bc36dbf69a3cb8c3d65e614576391e3402b5ab911bb8dec6ee55675974ac83b2ef07aa18c4fe7c462db0fbdece4c018c34416542bc4b0abe061f57ecd25a3254a8b6a1a0c75899bf8355dc73c35e5d67cff1c2bf4574fe3c288c73ad9747d9ecffecbe0421b7231ec8b4b99940e3[...]
