{
  "log": {
    "_recordingName": "Live tests/should fetch all categories of wiki",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "66bba02a0c0187d04b420cee91c1ba34",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "allcategories"
            },
            {
              "name": "aclimit",
              "value": "500"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://batman.wikia.com/api.php?format=json&action=query&redirects=&list=allcategories&aclimit=500&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 0
          },
            {
              "domain": ".wikia.com",
              "expires": "2019-06-08T07:08:11.000Z",
              "name": "wikia_session_id",
              "path": "/",
              "value": "vcTNV8-6hH"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "location",
              "value": "https://batman.fandom.com/api.php?format=json&action=query&redirects=&list=allcategories&aclimit=500&origin=%2A"
            },
            {
              "name": "x-redirected-by-wf",
              "value": "AnonsHTTPSUpgrade NotPrimary"
            },
            {
              "name": "x-datacenter",
              "value": "SJC"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 254,
      },
      {
        "_id": "c8e255b57aa6e6074d72320cb6d75d3c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "allcategories"
            },
            {
              "name": "aclimit",
              "value": "500"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://batman.fandom.com/api.php?format=json&action=query&redirects=&list=allcategories&aclimit=500&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3136,
            "text": "[\"1f8b08000000000000039d5c5b531b3916fe2b5a5e26d90ad90432a91d5eb6b0b924130814f6849adad907d12ddb1aba258f5a0deba4f2dff7a82f76ab758ee4ec0b05fa3e1d49e7221d5d9a6f077fd5c26c0e4ebe1df0a2c8b8154b6da4a80e4efefdede0ef072707478767ace4ea1f4b801df1fbabb6fc949d096e574c2a6657825df0521603342fa5929535dc4aad985e004956ac9256ec38d264862f6cb52b298ac399e586cdfeaa796ea0e28ba92e65c6265a3fbe641fabaa1608fb5e545618207fd1455d0a76fc721f0e228e35d409b73060c655ceeef44337be89deb07bad72618615e4b07ec98b252fd974c50dcfa0310ffaaa5[...]
