{
  "log": {
    "_recordingName": "Page Methods/should get partial categories from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "1bbbaaa654f17ccd7357e906fb492b4c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "categories"
            },
            {
              "name": "pllimit",
              "value": "1"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=categories&pllimit=1&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=categories&pllimit=1&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 123,
      },
      {
        "_id": "5c7615683247a8c33d80f28faa66d43b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "categories"
            },
            {
              "name": "pllimit",
              "value": "1"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=categories&pllimit=1&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 334,
            "text": "[\"1f8b08000000000000039d924d4fc3300c86ff4a9413a082d6f131ad373489139c264e0821937aadd5d4296eca34b6fe7792f2b5d328e492c47edf47b6e5ad5e833071d1ea6cab6b208ef789cef43d0b1a5730bd61ae1a10a8d1a364aab1966af267baef136d1c7be20ea3c9d89f9fbe3cbf9a4c7737643c3906fb5420a3806df5be47ef763a405e3a944d243450e050c7e0fe8a50aeb32190680ed949a23d791bedb75d856a596dd6602b9488068f85138a9487ed204f2f7ef48b8ff426bbb656817832165b65c15461004ad0123c5b0c8f150ab209943e39441941502b71b5ba0331a59a4ed2f961e26299aa65034c6d796a818b2eb4a[...]
