{
  "log": {
    "_recordingName": "Wiki Methods/Random should return the correct number of results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "b38c6a62f490b77dbf682a90490723e0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "3"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=random&rnnamespace=0&rnlimit=3&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=random&rnnamespace=0&rnlimit=3&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 124,
      },
      {
        "_id": "56e27a4a73fd732719b00d219bf2349a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "3"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&list=random&rnnamespace=0&rnlimit=3&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 206,
            "text": "[\"1f8b0800000000000003658c4d4bc3401086ff4a98f35676ba93cf9b9e04f1ea453c8cc952a76c26ed762b4836ffddd48222bdbd0fbccf33c33ba7fea39fc643f0c9430760a09f34899e579a21ea1f81bdab6aa2aa6d5a57e3365fb1b6eb6ea8cd48e4106db6ff12b0c9191603c7b38f5f3f45d6611aa17b9d4106e8b6ae6ca92634a027e8ac8124295cbc470969ef8b67e6d3e693b5187cf1c4a38f6bec6a3a4272ceda1bf3817b0981a3f0ef179b122b2cddcdf73e46d15d9ad4142f1277a217e96d59be01e10bb47419010000\"]"
          },
            {
              "domain": ".wikipedia.org",
         [...]
