{
  "log": {
    "_recordingName": "Wiki Methods/Random should return the correct number of results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "78b19e6d6eb0e141a9fbba9d9b325878",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "3"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=random&rnnamespace=0&rnlimit=3&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=random&rnnamespace=0&rnlimit=3&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 98,
      },
      {
        "_id": "7e9b566d82689780d3654146ef0c4dfa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "random"
            },
            {
              "name": "rnnamespace",
              "value": "0"
            },
            {
              "name": "rnlimit",
              "value": "3"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=random&rnnamespace=0&rnlimit=3&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 204,
            "text": "[\"1f8b0800000000000003658cb16ec23018065f25fae614fdb1b1b1bd4674a8d409b6aa839b448a456283710614e7dda145b4aa184fbabb195f36357d13c6e3d0a50e0628d1049f9c9f6e3423fa3f02adb4124af04a0aa1797ea0e4eb8dae88a8ca9c31c1855299fe7df092339612a7a98b979fadf56d18613e66b8164690e624352be1cf305422b9347c77f5aa78b7f150bc85d85a7f5bdc7d499269b679d25f87105d6b8bba8fee9c9cf5c5aee943187e43c689985eaba7727b9aecbe8bd162f95c962b1927850a17010000\"]"
          },
            {
              "domain": ".wikipedia.org",
             [...]
