{
  "log": {
    "_recordingName": "Live tests/should fetch deep infoboxes [Issue #95]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "eb03c1c9029531a7debd674193565499",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Copper"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Copper&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Copper&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 86,
      },
      {
        "_id": "528cb61dd837b49d2c8521bbb42fc2cd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Copper"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Copper&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 260,
            "text": "[\"1f8b08000000000000039590c14ec4201086df650e9eba2dd0d4dd25d978f0153c79433a162205964e75cdc67777d88d1e8c89910bf0fdfc333f73862743d6d934e78084a0011a38ae58de419f219b09977a906a50fbfe0bf911f495341059170d90a750ddf729672c5cc3a64818694e2306e66ffec5139e88955a219838adbcb382f107733407cbb6dfb4d117c6816a074aab75c8514009253762b791c383dc6a21f470fbc80f8259a8e0eb25ade877fb5e49a918639cc855b61ffa6d03cf6b086ba9211d515e74d7616c6bdecced4c9bcad4d55bf7fd35c6f497a1f371c4539b5dbebb8ce67075df184b3ec5432d518764628ade9afff[...]
