{
  "log": {
    "_recordingName": "Live tests/should use first main image if there are multiple",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "b8808673e855b473442441b6c988b768",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Wikipedia"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Wikipedia&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Wikipedia&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 129,
      },
      {
        "_id": "bf9cf28ed654f18eef2b28b9984e8386",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Wikipedia"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Wikipedia&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "[\"1f8b08000000000000039550d14ec3300cfc173ff0d4ad59db8d35d2c44f2021f11652d344a44e485d3634f1ef38882184901079717ce73b9d7d8607c3d6d938a5808ca0012a785e30bf823e433223cee5b3555d7bdd7617cc0fa03fa10a48265405ec3914fd9d7ff209076fc4c84662249ee28041a8a3508c2716a6b80443e3225518a41f98e3295891fdc60d3e0b1c380bce71b10e250e346ad3afd46ea5f6b76aa755a33b752f03c1cc9cf1a524ee95da77dba6ef05451ad9816e3ad5b69b0a1e9710965c323ae634ebba465a1f2f9bac631eebd2d5df9793c27f696a4f039ed6c9a59b8ffb1cbe0cae8c651fe9505ccaa50c45f2d6f[...]
