{
  "log": {
    "_recordingName": "Page Methods/should pass headers to API",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "5639261768f9674368412ac69b9758bf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "4335"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=4335&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=4335&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 128,
      },
      {
        "_id": "22cdd726f84f8edb79d4f4c4321691ce",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "pageids",
              "value": "4335"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&pageids=4335&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 259,
            "text": "[\"1f8b08000000000000039590c14ec4201086df650e9eba6d77db5a21d998f80c9ebc211d0b910e48a7ba66e3bb3b68f4604c8c5c60be9f9ff99933dc1bb6cec6250564040d50c1d386f915f4199299712d87beeb862fe027d0a5ae80446b2b60cfa1386f0c2f86c46f2331122f71c220fcc53f7ac6138b52fcc1d0bcc92e0ad20fe67809566cbf6993cf820367e11c37eb5082c0a1ddab5d7bb96bc7db76d07daffbf14e2e04b372c6e792f54a297518875109459ad981def79d1abb0a1eb610b65c323ae6b4eaa641aa4bdc24dd4c1df3dc94aaf9fe9960fecbd0789af0542797ae3f2673fc745f18cb3ed2b13c5166642892b7e63ffdd[...]
