{
  "log": {
    "_recordingName": "Live tests/should handle Issue #62",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "443e1111ddb05dfc9c16208b5e8e8ac6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "royan"
            },
            {
              "name": "srlimit",
              "value": "50"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=search&srsearch=royan&srlimit=50&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=search&srsearch=royan&srlimit=50&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 161,
      },
      {
        "_id": "f6ce18a675703f6fcf7d70c7dd874dc4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "royan"
            },
            {
              "name": "srlimit",
              "value": "50"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://fr.wikipedia.org/w/api.php?format=json&action=query&redirects=1&list=search&srsearch=royan&srlimit=50&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 10453,
            "text": "[\"1f8b0800000000000003\",\"c55c6b73dc36b2fd2b287d915c35a3007c73eedebda52889375bb2e38a55deaa4df603c4814670382403928ae56cfefbed06c00738a4ee8cbc7b37958aa4790060a371fa9cee467e3fbbe34df69095fb2a178d38db9c9dadceb2b26864d1c25fbf9fd5aabcbfaf4573b609e9f89db3f53fff79f6c7eaecd756a827fd41c155f6208bfb12ff6aca86e70fb2a9cf367e4003f8a079ff6cf3d3ef6705bc0a8335b2c971a41fcb275ec0b415df09b93ddb301aa54104df909fe16dcf8b83205e9dfd56aa6d56b605acc4f359cae0fd425615aeec8cbc2b5b45725113ae1a99e12f0fe5be2c9ef6a25e91c7522a[...]
