{
  "log": {
    "_recordingName": "Live tests/should handle Issue #53",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "b6aefe4bfcd05917a118d46b73a889ba",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Copenhagen"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Copenhagen&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Copenhagen&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 130,
      },
      {
        "_id": "31f27047f2a391f54db13aa19980f72d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Copenhagen"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Copenhagen&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 296,
            "text": "[\"1f8b08000000000000039d504d4b033110fd2b32074feb7e496a1b281e16fc059e1491989d6e42b349ccce6aa5f4bf3b692f550a82219099376f5edecc1ede1469a3c3181d12820428e07dc6f405720f097b9b50d304f2790f9b1446263c74575d88e88d1ad0339b4206cbae3c870f2f05448ea62cb35c34ed52e42843b60779420af05caf59c292c30b2a05e8e0093d8da147c7844fbbb5843b8293ba537e98f9e5ca917d8e191a9de6b64b359e8a6147e9687fd606d913b475b3baa9177c1f9b5ab6428abb2726383551c28f6c7b55d76d2b9a962d3bf403199042dc0a4e37b37373ca160d519c6455a12fb3dbc89fa932a4a1ca59952[...]
