{
  "log": {
    "_recordingName": "Live tests/should handle Issue #53",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "55802492f536c127b646599bdee6da66",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Copenhagen"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Copenhagen&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "93.122.251.50"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Copenhagen&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 156,
      },
      {
        "_id": "f46122bf0b5610505d46e9a0ba35d108",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "FC Copenhagen"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=FC%20Copenhagen&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 299,
            "text": "[\"1f8b08000000000000039d50cb4ec33010fc15b4074e699e4d1b59aa3854e20b38811032ce36b6706ce36ca0a8eabfb36e2f055542c217af6766c7b37b8057494a2b3f068b84200032789f317e813840c4de44543481783ac02efa9105f7db9bad0fe8b41cd0b19a7c02f36d7e091f9f33085c4dc9a65b5575d7a62a41a60771463270cc976c61c8e215970c9477848e46dfa365c1a77933847b82b3bb956e98f966e6a4bec4348d5671db358ea762d8523cc59f9546ce047559578bb25b54ed43d588e55a54eb4716583951c48f14bb2a9baeedea65db308c6e200d62d594eb2e83dd6ced1c53464d14265114e8f21437f06f32f77128d[...]
