{
  "log": {
    "_recordingName": "Live tests/should handle Issue #57",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "797fcad44f84c6f2e2b280b250a1f350",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "Bob"
            },
            {
              "name": "srlimit",
              "value": "50"
            }
          ],
          "url": "https://oldschoolrunescape.wikia.com/api.php?format=json&action=query&redirects=&list=search&srsearch=Bob&srlimit=50"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 0
          },
            {
              "domain": ".wikia.com",
              "expires": "2019-06-08T07:07:49.000Z",
              "name": "wikia_session_id",
              "path": "/",
              "value": "gaU6rsgXCH"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "location",
              "value": "https://oldschoolrunescape.fandom.com/api.php?format=json&action=query&redirects=&list=search&srsearch=Bob&srlimit=50"
            },
            {
              "name": "x-redirected-by-wf",
              "value": "NotPrimary"
            },
            {
              "name": "x-datacenter",
              "value": "SJC"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 184,
      },
      {
        "_id": "a101b91cce2afc664067e82b98ce35f3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "Bob"
            },
            {
              "name": "srlimit",
              "value": "50"
            }
          ],
          "url": "https://oldschoolrunescape.fandom.com/api.php?format=json&action=query&redirects=&list=search&srsearch=Bob&srlimit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 116,
            "text": "[\"1f8b08000000000000033dcb4b0a85300c85e1ad948ccdac527037ad4931f8a824e20371efb772c1e9f9bf7383b1ee4ce9820e662689878c82ab16c290536873eb037a4fab870658b5287437f485b81e4c8da3f6036e7c6e4862314d4c15ca924bedefecfec489b90f3ccf0f3a51188578000000\"]"
          },
            {
              "domain": ".fandom.com",
              "expires": "2019-06-08T07:07:49.000Z",
              "name": "wikia_session_id",
              "path": "/",
              "value": "Db_kjDT_9J"
            },
            {
              "name": "Geo",
              "path": "/",
              "value": "{\"region\":\"MM\",\"country\":\"RO\",\"continent\":\"EU\"}"
            }
          ],
          "headers": [
            {
              "name": "content-disposition",
              "value": "inline; filename=\"api-result.json\""
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "mediawiki-api-error",
              "value": "srsearch-text-disabled"
            },
            {
              "name": "x-backend-response-time",
              "value": "0.018"
            },
            {
              "name": "x-span-id",
              "value": "b0de31e4-19cf-4e03-8ade-0724d03b6ba6"
            },
            {
              "name": "x-trace-id",
              "value": "d117a2d1-eb01-4960-bfce-c4a7f63acf96"
            },
            {
              "name": "x-datacenter",
              "value": "SJC"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
