{
  "log": {
    "_recordingName": "Live tests/should parse wiki url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "4b6a1e549017a01d4f4f3ed14ce6c535",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "djinn"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=djinn&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-09-16T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "15-Aug-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=djinn&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 89,
      },
      {
        "_id": "9040048ea4fb9f778b1d29807afae7b4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": "1"
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "djinn"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=1&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=djinn&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 296,
            "text": "[\"1f8b08000000000000038d504d4fc3300cfd2f3e70eafa3960ab3471d98933271087907a4d20754aeac2a0da7fc7294c9a10d28822257e7ecf7ef6044f8ab5d1beeb1d32420d90c0eb88e103ea09c8874e39fb890dd40f13ec82ef84d13c5b22a1b197603b0787c704023636a0e6e194bb3de5de1ea9bd6a71880d8a2a2fafe3272256bacc400224d95c54961d1e8509684f8cc49d6fd009fa6e5f2ce39ee1bba053d48ef24a06e91766b8735a647fe5c4b5c08ec36c73d4264e0b655e168b7cb5282eef8aaa8ef7ea5e084e0d1cf06db69a57ab65b9ae96a5c0482d1ba857ebaa12fbbbd1b931448f86b91fea2c434aa3dd5ebaa9d4873[...]
