{
  "log": {
    "_recordingName": "Page Methods/should get references from an article",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "0321bd6b1e43e822b1f2db589c01070d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "extlinks"
            },
            {
              "name": "ellimit",
              "value": "max"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=extlinks&ellimit=max&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2019-07-10T00:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "08-Jun-2019"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=extlinks&ellimit=max&titles=Luke%20Skywalker&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 119,
      },
      {
        "_id": "682a6b32a043d65fa563e744f5c45c73",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "extlinks"
            },
            {
              "name": "ellimit",
              "value": "max"
            },
            {
              "name": "titles",
              "value": "Luke Skywalker"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=extlinks&ellimit=max&titles=Luke%20Skywalker&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2117,
            "text": "[\"1f8b0800000000000003b559d98ee3b815fd95c08f41d3dab7021afd900966824ce6a5034c822068d0222db12d911a92b2ca69d4bfe750de645be5d8984ea18472b97c17dee5dc7359df162b6acbba546dd770cb172f8bc587c56f3dd7bbc5cbb745472b6edc8b244afdf0f88e608b97f18d0f0b89bffa1f1656d8c6c9fedc6ff81f3e6f76036d365c43137fb58d901b7cea5fdf167fc4276a6bbb17cf1b866149d76209bbde0faa345ee0fbffe4541bafa6926d63df5f766cfd89a9f22f3f7c8cc274f1f6e146be1492b774d570c9463d920fdeaff58efcc895ae38f9b92fa9213f5146fe049de31b1b4e4ece915f688b5f2dd5e457d82[...]
