{
  "log": {
    "_recordingName": "Live tests/should load main image #157",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "cce05fa593bfd6cb43768dcedbece6d7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Lisa_(rapper)"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "http://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Lisa_%28rapper%29&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-08-25T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "24-Jul-2021"
            }
          ],
          "headers": [
            {
              "name": "x-client-ip",
              "value": "92.85.195.126"
            },
            {
              "name": "location",
              "value": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Lisa_%28rapper%29&origin=%2A"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 100,
      },
      {
        "_id": "9436293464ce94b269532d74822aac06",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "redirects",
              "value": ""
            },
            {
              "name": "prop",
              "value": "info|pageprops"
            },
            {
              "name": "inprop",
              "value": "url"
            },
            {
              "name": "ppprop",
              "value": "disambiguation"
            },
            {
              "name": "titles",
              "value": "Lisa_(rapper)"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?format=json&action=query&redirects=&prop=info%7Cpageprops&inprop=url&ppprop=disambiguation&titles=Lisa_%28rapper%29&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 299,
            "text": "[\"1f8b08000000000000039d50cb4ec33010fc15b4070452da38a149a8a58a1fe0c809849071b68985631b670385aaffceba3c240a1212bed89e991d8f670bf78a74affd102c128204c8e071c2f802720bcec74159f38a2dc89b2daca31f587169467577125508184f594efe033cfa0277b71904d5e1985caa6559d64d5da773020dbb7d621938d608363164f1874f06da3b4247836fd132fd6c1e0ce186e0dddf2ad74dbc3383ee00eb69b09ac77ee35a1319b614f7f127dda71f4229ca62269a59595c154b5909b9a8ae5960d548119f52ec429c2dea7351898661741df52017a22e8b0cd693b5534c197ba230ca3c47374f7103bfa6e63[...]
